body {
  font: 14px/1.6 "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
}

.el-rte-structure {
	text-align: left;
}

h1 {
  margin: 0;
  font-size: 60px;
}

h2 {
  font-weight: 200;
  margin: 32px 0px 10px 0px;
}

h3 {
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}

div {
	padding-bottom: 12px;
}

a {
	color: #000;
}

.pseudo-link{
	text-decoration: underline;
}

.top-bar{
	text-align: right;
	padding: 0px;
	margin: 0px;
}

.by-line{
	margin-bottom: 30px;
}

.title {
	margin: 30px 0px 0px 0px;
  	font-size: 60px;
  	display: block;
}

.title:LINK{
	color: #000;
	text-decoration: none;
}

.main-container{
	margin: 50px 0px 50px 0px;
	width: 320px;
	display: inline-block;
	text-align: left;
	padding: 0px 50px 50px 50px;
	background-color: #FFF;
	z-index: 1;
}

.twitter-follow-button{
	margin: 10px -40px 10px 10px;
	float: right;
}

.twitter-share-button, #fb-root {
	display: inline-block;
	vertical-align: text-bottom;
}

pre {
  display: inline-block;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 5px;
  font: 13px Monaco, monospace;
}

.tags em {
  font-weight: bold;
  font-style: normal;
}

#menu {
  position: fixed;
  top: 10px;
  right: 30px;
}

#menu li {
  list-style: none;
}

#menu li a {
  display: block;
  text-decoration: none;
  padding: 5px 2px;
  border-bottom: 1px dotted #eee;
  text-align: right;
  -webkit-transition: padding 200ms ease-out;
  -moz-transition: padding 200ms ease-out;
}

#menu li a:hover {
  padding-right: 15px;
}

.list-item {
	text-decoration: none;
}

code .comment { color: #a2a2a2 }
code .init { color: #2F6FAD }
code .string { color: #5890AD }
code .keyword { color: #8A6343 }
code .number { color: #2F6FAD }