body {
  font: 14px/1.6 "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
}

.el-rte-structure {
	text-align: left;
}

h1 {
  margin: 0;
  font-size: 60px;
}

h2 {
  font-weight: 200;
  margin: 32px 0px 10px 0px;
}

h3 {
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}

div {
	padding-bottom: 12px;
}

a {
	color: #00F;
}

.pseudo-link{
	text-decoration: underline;
	color: #00F;
}

.top-bar{
	text-align: right;
	padding: 0px;
	margin: 0px;
}

.by-line{
	margin-bottom: 30px;
}

.title {
	margin: 30px 0px 0px 0px;
  	font-size: 60px;
  	display: block;
  	color: #000;
}

.title:LINK{
	color: #000;
	text-decoration: none;
}

.main-container{
	margin: 50px 0px 50px 0px;
	width: 320px;
	display: inline-block;
	text-align: left;
	padding: 0px 50px 50px 50px;
	background-color: #FFF;
	z-index: 1;
}

.twitter-follow-button{
	float: right;
}

.twitter-share-button, #fb-root {
	display: inline-block;
	vertical-align: text-bottom;
}

.list-item {
	text-decoration: none;
	color: #000;
}